html,
body {
    min-height: 100%;
}

body {
    height: 85vh;
    width: 100%;
    overflow-y: hidden;
    padding: 5vw;
    overflow-x: hidden;
}


.container {
    text-overflow: hidden;
    align-items: center;
}

.container h2 {
    color: #fff;
    text-align: center;
    font-size: 25px;
}

.container a {
    color: #aaa;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.container a:hover {
    color: #aaa;
    text-decoration: underline;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding: 0;
    text-align: center;
    position: fixed;
}

#git {
    font-size: 35px;
    cursor: pointer;
    color: #808080;
}

.container hr {
    margin: 0 auto;
    width: 38em;
}

[aria-label] {
    position: relative;
}
    
    [aria-label]::after {
    content: attr(aria-label);
    display: none;
    position: absolute;
    top: 110%;
    left: 0px;
    z-index: 5000;
    pointer-events: none;
    padding: 8px 10px;
    text-decoration: none;
    font-size: .9em;
    color: #fff;
    background-color: #808080;
}
    
    [aria-label]:hover::after {
    display: block;
}

.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-size: cover;
    padding: 0px;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    overflow: hidden;
}

.menu ul {
    background-color: #808080;
}

.menu ul li {
    display: inline;
    position: relative;
}

.menu ul li a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: all 1s;
    cursor: pointer;
}

.menu ul li a:hover {
    background-color: #909090;
}

.menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul ul {
    width: 150px
}

.menu ul ul li a {
    display: block;
}
